/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    position: relative; /* Garante que o cabeçalho é um contêiner de posicionamento */
}

.slick-carousel-container {
    position: relative; /* Garante que os filhos posicionados absolutamente estarão relativos a este contêiner */
}

.slick-carousel {
    width: 2035px;
    height: 819px;
}

.slick-carousel img {
    width: 2035px;
    height: 819px;
}

.slick-carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 2035px;
    height: 819px;
    background-color: rgba(0, 0, 0, 0.5); /* cor preta com 50% de opacidade */
    pointer-events: none; /* permite clicar nos elementos abaixo do overlay */
}

.contact-header {
    position: absolute;
    top: 10px; /* Ajuste conforme necessário */
    left: 50%; /* Coloca o elemento no centro horizontal */
    transform: translateX(-50%); /* Move o elemento de volta 50% do seu próprio tamanho */
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 10px;
}


#phone-info, #mail-info {
    display: flex; /* elementos internos são flexíveis */
    align-items: center; /* alinha itens verticalmente */
    position: relative;
}

#phone-info img, #mail-info img {
    height: 39px; /* ajuste conforme necessário */
    width: auto; /* largura automática */
}

#phone-info img, #mail-info img {
    margin-right: 15px;
}

#phone-info {
    right: 70%;
}

#mail-info {
    left: 50%;
}

#horizontal-line {
    border: none;
    height: 3px;
    background-color: white; 
    margin: 20px 0; /* Isso adiciona espaço acima e abaixo da linha */
    margin-top: 80px;
}

.menu-header {
    position: absolute; /* ou 'fixed' se você quiser que ele fique fixo ao rolar a página */
    z-index: 10; /* qualquer valor maior que o z-index do carousel */
    top: 0; 
    left: 0; 
    width: 100%; /* Mantém a largura completa */
    margin-top: 20px;
    left: 50%;
    justify-content: center; /* Centraliza os itens horizontalmente */
    display: flex;
    transform: translateX(-50%);  /* Move o elemento para o centro */
}

.menu-header img {
    width: 300px;
    height: 300px;
    vertical-align: middle; /* Alinha verticalmente com os itens da lista */
}

.menu-header li {
    display: inline-block;
    margin-right: 60px; /* Espaçamento entre os itens da lista */
}

.menu-header li:last-child {
    margin-right: 0; /* Remove a margem direita do último item */
}

.menu-header a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.menu-header button {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: #FF4B2F;
    border: none;
    width: 190px;
    height: 50px;
    cursor: pointer;
}

.menu-background-header {
    background-color: rgba(121, 121, 121, 0.5);
    height: 100px;
}

